.end-card{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: hidden;

    width: 60vw;
    min-height: 10vh;
    /* background-color: blue; */
    background-color: var(--background-color);
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
}

.end-card .info-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red;
    border:1px solid yellow; */
    width: 13vw;
    /* text-align: right; */

}
/* .end-card .info-row:nth-child(1){
    align-items: center;
    text-align: right;

} */

.end-card .btn{
    padding: 8px;
    border-radius: 10px;

}