.add-subscription{
    /* background-color: rgb(255, 251, 0); */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.add-subscription-header{
    margin-top: 1%;
    /* background-color:blue; */
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
    flex-direction: row;
    height: 6%;
    width: 80%;
    font-size: xx-large;
}
.add-subscription-header div{
    font-size: x-large;
}
.add-subscription-header .ID{
    font-size: xx-large;
}

.add-subscription-body{
    /* background-color: red; */
    width: 85%;
    height: 88%;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.add-subscription-body .text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;

}
.add-subscription-body .cs,
.add-subscription-body .price-container{
    margin-top: 2%;
}

.add-subscription-body textarea{
    background-color: transparent;
    border: none;
    border: 1px solid var(--circle-light);
    border-radius: 20px;
    padding: 8px;
    width: 50vw;
    margin-top: 1%;
    text-align: center;
}
.add-subscription-body textarea:focus{
    text-align: right;
    content: '';
}

.add-subscription-body .btns{
    /* display: flex; */
    /* align-items: center;
    justify-content: space-around; */
    width: auto;
    /* background-color: red; */
}
.add-subscription-body .btns button{
    padding: 10px;
    border-radius: 20px;
}
.add-subscription-body .btns .save,
.add-subscription-body .btns .save-add{
    border: 2px solid green;
    width: 10vw;
}
.add-subscription-body .btns .save:hover,
.add-subscription-body .btns .save-add:hover{
    background-color: green;
    color: white;
}

.add-subscription-body .btns .cancel{
    border: 2px solid red;
    width: 10vw;

}
.add-subscription-body .btns .cancel:hover{
    background-color: red;
    color: white;
}
