.updates {
    margin-top: 2%;
    max-height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid var(--circle-light); */
    border-radius: 20px;
}
.updates .header{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.updates div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 50vw;
    border: 2px solid orange;
    border-radius: 20px;
    margin-top: 1%;
}
